.info-aside{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    h1{
        text-align: center;
        color: white;
    }
    h3{
        text-align: center;
        color:#d0d0d0;
    }
    
}    