@import "../../general/styles.scss";

.promo{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:33.2%;
    height: 130px;
    border-right:  1px solid #d0d0d0;
   
   
}