@import '../../general/styles.scss';

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding-left: 5%;
    padding-right: 5%;
    p{
        font-size: .8rem;
    }
}